<div class="contact-content">
    <div class="background">
    </div>
    <div class="mid-card">
            <div>
                <span class="big">REACH US AT</span>
            </div>
            <div>
                <span class="big">support@kicksup.com</span><br>
                <span class="small">for any technical support</span>
            </div>
            <div>
                <span class="big">support@kicksup.com</span><br>
                <span class="small">for any technical support</span>
            </div>
            <div>
                <span class="big">support@kicksup.com</span><br>
                <span class="small">for any technical support</span>
            </div>
            <div>
                <span class="big">support@kicksup.com</span><br>
                <span class="small">for any technical support</span>
            </div>
        
    </div>
    <div class="social-media">
        <div class="text">
            <span>stay in touch</span>
        </div>
        <div class="icon">
            <div class="three-icon">
                <img src="./assets/img/twitter.svg" alt="" class="tw">
                <img class="in" src="./assets/img/insta.svg" alt="">
                <img class="fb" src="./assets/img/facebook.svg" alt="">
               
            </div>
        </div>
    </div>
</div>
