<div class="journey">
    <div class="grass-container">
       
        <div class="grass">
            <div class="journey-text">
                <span class="text">THE JOURNEY</span>
            </div>
            <div class="bottom-design">
                <div class="side-design">

                    <span class="circle"></span>
                    <span class="line"></span>
                    <span class="circle"></span>
                    <span class="line"></span>
                    <span class="circle"></span>
                    <span class="line"></span>
                    <span class="circle"></span>
                    
                </div>
                <div class="side-text">
                    <div>

                        <div class="head">
                            <span>THE ROOT</span>
                        </div>
                        <div class="text">
                            Lorem ipsum dolor sit amet, consectetur 
                            adipisicing elit. Corrupti qui exercitationem
                            in debitis alias corporis nemo eaque, et
                            obcaecati voluptatum provident delectus
                            praesentium nulla. Sed vitae nobis soluta
                            incidunt alias esse voluptatibus officia error, dolores quam quod atque explicabo rem.
                        </div>
                    </div>
                    <div>

                        <div class="head">
                            <span>THE ROOT</span>
                        </div>
                        <div class="text">
                            Lorem ipsum dolor sit amet, consectetur 
                            adipisicing elit. Corrupti qui exercitationem
                            in debitis alias corporis nemo eaque, et
                            obcaecati voluptatum provident delectus
                            praesentium nulla. Sed vitae nobis soluta
                            incidunt alias esse voluptatibus officia error, dolores quam quod atque explicabo rem.
                        </div>
                    </div>
                    <div>

                        <div class="head">
                            <span>THE ROOT</span>
                        </div>
                        <div class="text">
                            Lorem ipsum dolor sit amet, consectetur 
                            adipisicing elit. Corrupti qui exercitationem
                            in debitis alias corporis nemo eaque, et
                            obcaecati voluptatum provident delectus
                            praesentium nulla. Sed vitae nobis soluta
                            incidunt alias esse voluptatibus officia error, dolores quam quod atque explicabo rem.
                        </div>
                    </div>
                    <div>

                        <div class="head">
                            <span>THE ROOT</span>
                        </div>
                        <div class="text">
                            Lorem ipsum dolor sit amet, consectetur 
                            adipisicing elit. Corrupti qui exercitationem
                            in debitis alias corporis nemo eaque, et
                            obcaecati voluptatum provident delectus
                            praesentium nulla. Sed vitae nobis soluta
                            incidunt alias esse voluptatibus officia error, dolores quam quod atque explicabo rem.
                        </div>
                    </div>
                    
            </div>
        </div>
        
    </div>
</div>
