<div class="team">
    <div class="text-container">
        <span class="text">
            Without bonding and coordination, every project is a failure. Look at who makes KICKSUP great ;)
        </span>
    </div>
    <div class="team-container">
        <div class="team-1">
            <div class="card">
                <div class="card-image">
                    <img src="../../../assets/img/zidane.jpg" class="img">
                </div>
                <div class="card-text">
                    <span class="person">Zidane</span>
                    <span class="designation">Leadership & Management</span>
                </div>
                <div class="card-icon">
                    <img src="../../../assets/img/linkedin.png" alt="" class="social">
                    <img src="../../../assets/img/medium.png" alt="" class="social">
                    <img src="../../../assets/img/facebook.png" alt="" class="social">
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="../../../assets/img/tonikroos.jpg" class="img">
                </div>
                <div class="card-text">
                    <span class="person">Toni Kroos</span>
                    <span class="designation">Product Developer</span>
                </div>
                <div class="card-icon">
                    <img src="../../../assets/img/linkedin.png" alt="" class="social">
                    <img src="../../../assets/img/medium.png" alt="" class="social">
                    
                </div>
                
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="../../../assets/img/ikercasillas.jpg" class="img">
                </div>
                <div class="card-text">
                    <span class="person">Iker Casillas</span>
                    <span class="designation">Marketing Strategy</span>
                </div>
                <div class="card-icon">
                    <img src="../../../assets/img/medium.png" alt="" class="social">
                </div>
                
            </div>
        </div>
        <div class="team-2">
            <div class="card">
                <div class="card-image">
                    <img src="../../../assets/img/james.jpg" class="img">
                </div>
                <div class="card-text">
                    <span class="person">James</span>
                    <span class="designation">Product Designer</span>
                </div>
                <div class="card-icon">
                    <img src="../../../assets/img/medium.png" alt="" class="social">
                    <img src="../../../assets/img/twitter.png" alt="" class="social">
                    
                </div>
                
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="../../../assets/img/christiano.jpg" class="img">
                </div>
                <div class="card-text">
                    <span class="person">Christiano</span>
                    <span class="designation">Financial Operation</span>
                </div>
                <div class="card-icon">
                    <img src="../../../assets/img/linkedin.png" alt="" class="social">
                    <img src="../../../assets/img/facebook.png" alt="" class="social">
                    
                </div>
                
            </div>
        </div>
    </div>
    <div class="last-text">
        <span>and You!</span>
    </div>
</div>
