/* You can add global styles to this file, and also import other style files */
body{
    margin: 0px;
    padding: 0px;
}
@font-face {
    font-family: ringoverfont;
    src: url(../src/assets/fonts/Product_Sans.ttf);
}

@font-face {
    font-family: regular;
    src: url(../src/assets/fonts/Gobold_Regular.otf);
}

:root{
    --primary-color : white;
    --primary-font : ringoverfont;
    --regular-font : regular;
}